.App {
    text-align: center;
    /* margin-bottom: 2rem; */
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: linear-gradient(to left, rgb(137, 146, 158) 0%, rgb(219, 219, 219) 100%);
}

h1 {
    font-family: "Bigelow Rules", cursive;
    font-size: 72px;
    color: rgb(70, 70, 70);
    /* color: #0ccac4; */
    /* color: rgba(0, 0, 0, 0.6); */
}

button {
    padding: 1.2rem 3.2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    color: #535353;
    background-image: linear-gradient(to bottom right, rgba(129, 216, 247, 0.9), rgba(107, 206, 241, 0.9));
    outline: none;
    filter: brightness(92%);
    transition: all 0.5s;
}
button:hover {
    color: #363636;
    filter: brightness(100%);
}
button:active {
    transform: scale(0.98);
}

footer {
    font-size: 0.8rem;
    margin-top: 1rem;
    border-top: 1px solid rgba(128, 128, 128, 0.589);
    width: 100%;
    /* height: 3em; */
    background-color: rgba(53, 56, 56, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem;
    color: rgb(177, 177, 177);
}

footer a {
    color: rgb(241, 210, 169);
    text-decoration: none;
}

::selection {
    color: #eee;
    background-color: rgba(0, 0, 0, 0.5);
}
